
.timer-container {
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    justify-content: space-around;
}

#timer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    width: 400px;
    height: 150px;
    border: none;
    border-radius: 20px;
    background-color: rgb(29, 29, 29);
}


#tag-input {
    height: 40px;
    border: none;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
}

#submit {
    height: 40px;
    padding: 8px 24px;
    border-radius: 12px;
    box-sizing: border-box;
}



.tag-list {
    height: auto;
    width: auto;
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 12px;
    overflow-y: hidden;
}

.tag-list div {
    color: rgb(18, 18, 18);
    height: 32px;
    min-width: 60px;
    width: auto;
    padding: 2px 4px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: rebeccapurple;
    font-family: "Bebas Neue", sans-serif;
    cursor: pointer;
}