* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: black;
}

.navbar {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px
}


.nav {
    height: 50px;
    width: 360px;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(75deg, rgba(25, 25, 25, 0.209), rgba(255, 255, 255, 0.215));
    align-items: center;
    border-radius: 20px;
    border: 0.5px solid rgba(255, 255, 255, 0.505);
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-weight: 500;

}

.user {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.user img {
    height: 25px;
    width: auto;
}

.main {}

.base {
    background-image: url("src/assets/Frame 76.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}

.bottom {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    filter: blur(50px);
}

.main {
    z-index: 100;
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 32px;
}

.start {
    color: black;
    background-color: white;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px;
    border-radius: 30px;
    cursor: pointer;
}